<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NER标注</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/index.js"></script>
</head>
<body>
<h1> {{ title }}</h1>
<a class="sty_button">0（O 清除）</a>
<a class="sty_button">1（P 人物）</a>
<a class="sty_button">2（ORG 组织）</a>
<a class="sty_button">3（LOC 地址）</a>
<hr>

<div style="align:left;">
    操作按钮：
    <button id="pre_button" class="sty_button" onclick="pre_button_func()">往前 <</button>
    <button id="save_button" class="sty_button" onclick="save_button_func()">保存</button>
    <button id="back_button" class="sty_button" onclick="back_button_func()">往后 ></button>
    <a href="/static/{{dpath}}/{{cur_idx}}.txt" download="">点击下载：{{cur_idx}}/{{all_num}}</a>
</div>
<hr>
<p id="cur_idx" style="display:none">{{cur_idx}}</p>
<p id="all_num" style="display:none">{{all_num}}</p>
<p id="label_sen" style="display:none">{{label_sen}}</p>

<hr>
<pre id="text" class="sentence">{{text}}</pre>
<br/>
<hr/>
<pre id="show" class="sentence"></pre>
</body>
</html>